
nav {
    position: fixed;
    
    top: 0;
    z-index: 1000;
    background: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
    
}

nav.transparent {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 50px 3px #ffffff83;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav img {
    height: 40px;
    width: auto;
}